/* body {
  background: #0a0a0a;
  font-family: Poppins, system-ui, Segoe UI, Roboto, Arial, sans-serif;
} */

.leaks-card {
  background: #222222;
  border-radius: 20px;
  padding: 25px;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  box-shadow: 0 0 25px rgba(0, 0, 0, .7);
  height: 500px;
}

.search-box {
  background: #000;
  border-radius: 10px;
  padding: 6px 12px;
  display: flex;
  align-items: center;
  width: 100%;
}

.search-box input {
  background: transparent;
  border: 0;
  outline: 0;
  color: #fff;
  width: 100%;
}

.add-btn {
    color: #c5c5c5;
    background: #292228;
    border: 1px solid #986090;
    border-radius: 12px;
    padding: 0 30px;
    font-weight: 700;
}
.domain-item {
  background: #000;
  border-radius: 20px;
  padding: 6px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 12px;
}

.domain-item span {
  font-weight: 600;
  background: linear-gradient(180deg, #FFFF, #723e6a); 
  -webkit-background-clip: text;  
  background-clip: text;  
  color: transparent; 
}
.apply-btn {
    color: #898889;
    background: #2a192b54;
    border: 1px solid #898889;
    border-radius: 15px;
    padding: 4px 12px;
    font-size: 14px;
}

.sidebar-text {
  writing-mode: vertical-rl;
  text-orientation: mixed;
  font-size: 40px;
  font-weight: 800;
  background: linear-gradient(180deg, #723e6a, #e3d5e1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  letter-spacing: 3px;
}

.scroll-line {
  width: 6px;
  background: #222;
  border-radius: 5px;
  position: relative;
  height: 325px;
  margin-top: 50px;
}

.scroll-thumb {
  width: 6px;
  height: 260px;
  background: #723e6a;
  border-radius: 5px;
  position: absolute;
  top: 0px;
}

.box-gap {
  row-gap: 50px;
}

@media (max-width: 576px) {
  .sidebar-text {
    font-size: 32px;
  }
  .scroll-line {
    height: 100px;
  }
}
.search-btn {
    color: #c5c5c5;
    background: #292228;
    border: 1px solid #986090;
    border-radius: 12px;
    padding: 0 30px;
    font-weight: 700;
    width: 70%;
}

.leaks-section {
  width: 100%;
  display: block;
}
.container-fluid {
  max-width: 100%;
}
