
.settings-container {
    margin: 50px;
    width: 70%;
}

.custom-input-1 {
    border-radius: 8px;
    font-weight: 700;
    color: #c5c5c5 !important;
    background-color: #3d3d3d !important;
    border: none !important;
    padding: 15px;
}

.form-control:focus {
  border-color: #c52baf;
  box-shadow: 0 0 5px #c52baf;
}

.settings-title {
  font-size: 2rem;
  margin-bottom: 30px;
}

.custom-btn-1 {
    color: #fff;
    background-color: #c52baf;
    border: none;
    border-radius: 8px;
    margin-left: 10px;
    padding: 15px 16px;
}
.btn-save:hover {
  background-color: #c52baf;
}

.row {
  margin-bottom: 20px;
}

.input-group {
  display: flex;
  align-items: center;
  gap: 5px; /* Reduces space between input and button */
}

.link-text {
  color: #ff007d;
  font-size: 0.9rem;
  text-decoration: none;
  display: block;
  margin-top: 5px;
}
